body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.product-card {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    color: #555;
}

.product-card h4 {
    color: green;
}

.product-card button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #0056b3;
}
