body {
    font-family: Arial;
    padding: 20px;
}

input, button {
    margin: 5px;
    padding: 6px;
}

.low-stock {
    background-color: #ffcccc;
}

table {
    width: 90%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
}
