body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}
